@{
	Layout = "_AdminLayout";
}

@section styles {
	<link rel="stylesheet" href="~/css/components/bs-datatable.css">
}

<!-- Page Title
		============================================= -->
<section class="page-title dark page-title-parallax parallax include-header py-6">
	<img src="~/images/intro/bg-2.jpeg" class="parallax-bg">
	<div class="container">
		<div class="page-title-row pb-5 align-items-lg-end">

			<div class="page-title-content">
				<h1>Conquista</h1>

				<div class="page-title-buttons mt-5">
					<a asp-action="Create" class="button button-border button-light rounded px-5 mb-0">Cadastrar <i class="bi-pencil-square ms-1"></i></a>
					@*<button class="button button-border button-light rounded px-5 mb-0" data-scrollto="#content" data-offset="60">Explore <i class="uil uil-arrow-circle-down ms-1"></i></button>
					<a href="#" class="button button-border button-light rounded px-5 mb-0" data-scrollto="#explore-more-elements">More Elements <i class="uil uil-cell ms-1"></i></a>
					<a href="https://1.envato.market/c/1309643/480739/4415?u=https%3A%2F%2Fthemeforest.net%2Fcart%2Fconfigure_before_adding%2F9228123" target="_blank" class="button button-border button-light rounded px-5 mb-0"><i class="uil uil-shopping-cart me-1"></i> Buy Canvas</a>*@
				</div>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Administração</a></li>
					<li class="breadcrumb-item active" aria-current="page">Conquista</li>
				</ol>
			</nav>

		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container">


			<div class="table-responsive">
				<table id="tbConquista" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Título</th>							
							<th>Tipo</th>
							<th>Edição</th>
							<th>Exclusão</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Id</th>
							<th>Título</th>
							<th>Tipo</th>
							<th>Edição</th>
							<th>Exclusão</th>
						</tr>
					</tfoot>
					<tbody id="bodyTable"></tbody>
				</table>
			</div>


			<!-- Centered modal -->
			<button id="butExcluir" style="display:none;" data-bs-toggle="modal" data-bs-target=".bs-example-modal-centered">excluir</button>

			<div class="modal fade text-start bs-example-modal-centered" tabindex="-1" role="dialog" aria-labelledby="centerModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">Exclusão</h4>
							<button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
						</div>
						<div class="modal-body">
							<p class="mb-0">Tem certeza que deseja excluir?</p>
						</div>
						<div class="modal-footer">
							<button type="button" id="butConfirmCancel" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
							<button type="button" id="butConfirmExcluir" class="btn btn-danger">Excluir</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Notification Types -->
			<a href="#" id="linkError" class="btn btn-danger me-2" style="display:none;" data-notify-type="error" data-notify-msg="<i class='bi-x-circle-fill me-1'></i> Incorrect Input. Please Try Again!" onclick="SEMICOLON.Modules.notifications(this); return false;">Show Error</a>

			<a href="#" id="linkSuccess" class="btn btn-success me-2" style="display:none;" data-notify-type="success" data-notify-msg="<i class='bi-check-circle-fill me-1'></i> Message Sent Successfully!" onclick="SEMICOLON.Modules.notifications(this); return false;">Show Success</a>

		</div>
	</div>
</section><!-- #content end -->
@section scripts {
	<script src="~/js/canvas/components/bs-datatable.js"></script>
	<script>
		jQuery(document).ready(function () {

			//variavel global para guardar o id do usuário que será excluido
			var idDel = 0;

			$('#tbConquista tbody').on('click', '.linkEdit', function () {
				var table = $('#tbConquista').DataTable();
				var tr = $(this).closest('tr');
				var data = table.row(tr).data();
				location.href = "/Conquista/Edit/" + data.id;
			});

			$('#tbConquista tbody').on('click', '.linkDelete', function () {
				var table = $('#tbConquista').DataTable();
				var tr = $(this).closest('tr');
				var data = table.row(tr).data();
				idDel = data.id;
				$("#butExcluir").click();
			});

			jQuery('#butConfirmExcluir').on('click', function (e) {
				$.ajax({
					type: 'GET',
					url: '@Url.Action("Delete", "Conquista")',
					contentType: "application/json; charset=utf - 8",
					//dataType: "json",
					cache: false,
					data: { "id": idDel },
					success: function (response) {
						$("#butConfirmCancel").click();
						$("#linkSuccess").attr("data-notify-msg", "<i class='bi-check-circle-fill me-1'></i> " && response);
						$("#linkSuccess").click();
						$('#tbConquista').dataTable().fnClearTable();
					},
					error: function (response) {
						$("#butConfirmCancel").click();
						$("#linkError").attr("data-notify-msg", "<i class='bi-x-circle-fill me-1'></i> " && response.responseText);
						$("#linkError").click();
					}
				});
				idDel = 0;
				//Stops loading link
				e.preventDefault();
			});



			jQuery('#butConfirmCancel').on('click', function (e) {
				idDel = 0;
			});


			var table = jQuery('#tbConquista').dataTable({
				"processing": true,
				"serverSide": true,
				"ajax": {
					"url": "/Conquista/Post",
					"method": "POST"
				},										
				"columns": [
					{ "data": "id" },
					{ "data": "titulo" },

					{
						data: 'data',
						render: function (data, type, row) {
							var tipoConquista = '';
							if (type === 'display') {
								tipoConquista = row.tipoConquista.nome;								
							}
							return tipoConquista;
						}
						
					},

					
					{
						"data": "edit",
						"bSearchable": false,
						"bSortable": false,
						"render": function (data, type, row) {
							return '<a href="#" class="linkEdit"><i class="bi-pencil-square"></i></a>';

						}
					},
					{
						"data": "delete",
						"bSearchable": false,
						"bSortable": false,
						"render": function (data, type, row) {
							return '<a href="#" class="linkDelete"><i class="bi-trash"></i></a>';
						}
					}
				],
				"ordering": true,
				"paging": true,
				"pagingType": "full_numbers",
				"pageLength": 10
			});



		});
	</script>
}