@{
	Layout = "_HomeLayout";
}
<!-- Page Title
		============================================= -->
<section class="page-title page-title-parallax parallax dark page-title-right include-header" style="padding: 250px 0;">
	<img src="~/images/about/me-parallax.jpg" class="parallax-bg">
	<div class="container">
		<div class="page-title-row">

			<div class="page-title-content">
				<h1>John Doe</h1>
				<span>CEO &amp; Co-Founder</span>
			</div>

		</div>
	</div>
</section><!-- .page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap pb-0">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h3>Objective</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>
				</div>

				<div class="col-lg-6">
					<h3>Future Endaevours</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa repellendus adipisci laborum placeat delectus labore cupiditate deserunt minus numquam consequatur esse, hic at earum illo animi eaque et, dolorem quo qui eos? Quam rerum possimus maxime veniam aut ratione eveniet aliquid cumque aspernatur ipsum libero quaerat, nam. Ad, sunt, error!</p>
				</div>
			</div>

		</div>

		<div class="section parallax dark mb-6" style="padding: 100px 0;">
			<img src="~/images/services/home-testi-bg.jpg" class="parallax-bg" data-parallax-speed="3">

			<div class="container">

				<div class="row">
					<div class="col-lg-3 text-center" data-animate="bounceIn">
						<i class="i-plain i-large mx-auto mb-0 bi-clock"></i>
						<div class="counter counter-lined"><span data-from="10" data-to="80" data-refresh-interval="50" data-speed="4000" data-comma="true"></span>+</div>
						<h5>Hours per Week</h5>
					</div>

					<div class="col-lg-3 text-center" data-animate="bounceIn" data-delay="200">
						<i class="i-plain i-large mx-auto mb-0 bi-code"></i>
						<div class="counter counter-lined"><span data-from="100" data-to="25841" data-refresh-interval="50" data-speed="2500" data-comma="true"></span></div>
						<h5>Lines of Code</h5>
					</div>

					<div class="col-lg-3 text-center" data-animate="bounceIn" data-delay="400">
						<i class="i-plain i-large mx-auto mb-0 bi-briefcase"></i>
						<div class="counter counter-lined"><span data-from="100" data-to="923" data-refresh-interval="50" data-speed="3500" data-comma="true"></span></div>
						<h5>Projects Completed</h5>
					</div>

					<div class="col-lg-3 text-center" data-animate="bounceIn" data-delay="600">
						<i class="i-plain i-large mx-auto mb-0 fa-brands fa-dribbble"></i>
						<div class="counter counter-lined"><span data-from="25" data-to="214" data-refresh-interval="30" data-speed="2700" data-comma="true"></span></div>
						<h5>Shots on Dribbble</h5>
					</div>
				</div>

			</div>

		</div>

		<div class="container">

			<div class="row g-5 mb-6">
				<div class="col-lg-4 col-md-6">

					<div class="fancy-title title-border">
						<h4>My Skills</h4>
					</div>

					<div class="skill-progress" data-percent="80" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
						<div class="skill-progress-title mb-2">
							<h5>WordPress</h5>
							<div class="badge bg-light text-dark">
								<div class="counter counter-inherit counter-instant"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="1000">0</span>%</div>
							</div>
						</div>
						<div class="skill-progress-bar">
							<div class="skill-progress-percent bg-color"></div>
						</div>
					</div>

					<div class="skill-progress" data-percent="60" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
						<div class="skill-progress-title mb-2">
							<h5>CSS3</h5>
							<div class="badge bg-light text-dark">
								<div class="counter counter-inherit counter-instant"><span data-from="0" data-to="60" data-refresh-interval="30" data-speed="1000">0</span>%</div>
							</div>
						</div>
						<div class="skill-progress-bar">
							<div class="skill-progress-percent bg-color"></div>
						</div>
					</div>

					<div class="skill-progress" data-percent="90" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
						<div class="skill-progress-title mb-2">
							<h5>HTML5</h5>
							<div class="badge bg-light text-dark">
								<div class="counter counter-inherit counter-instant"><span data-from="0" data-to="90" data-refresh-interval="30" data-speed="1000">0</span>%</div>
							</div>
						</div>
						<div class="skill-progress-bar">
							<div class="skill-progress-percent bg-color"></div>
						</div>
					</div>

					<div class="skill-progress" data-percent="70" data-speed="1000" style="--cnvs-progress-height: 0.25rem;">
						<div class="skill-progress-title mb-2">
							<h5>Javascript</h5>
							<div class="badge bg-light text-dark">
								<div class="counter counter-inherit counter-instant"><span data-from="0" data-to="70" data-refresh-interval="30" data-speed="1000">0</span>%</div>
							</div>
						</div>
						<div class="skill-progress-bar">
							<div class="skill-progress-percent bg-color"></div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 col-md-6">

					<div class="fancy-title title-border">
						<h4>Instagram</h4>
					</div>

					<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-container row row-cols-4 customjs" data-user="blog.canvastemplate"></div>

				</div>

				<div class="col-lg-4">

					<div class="fancy-title title-border">
						<h4>Twitter Feed</h4>
					</div>

					<div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="3" data-animation="slide" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap"></div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="section mb-0">
			<div class="container">
				<div class="heading-block text-center border-bottom-0 mb-0">
					<h3>Some of my Projects</h3>
					<span>Awesome Works that I've contibuted to. Proudly.</span>
				</div>
			</div>
		</div>

		<div id="portfolio" class="portfolio row grid-container portfolio-reveal g-0">

			<article class="portfolio-item col-12 col-sm-6 col-md-4 col-lg-1-5 pf-illustrations">
				<div class="grid-inner">
					<div class="portfolio-image">
						<a href="portfolio-single.html">
							<img src="~/images/portfolio/4/2.jpg" alt="Locked Steel Gate">
						</a>
						<div class="bg-overlay">
							<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
								<a href="~/images/portfolio/full/2.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="uil uil-plus"></i></a>
								<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="uil uil-ellipsis-h"></i></a>
							</div>
							<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="portfolio-single.html">Locked Steel Gate</a></h3>
						<span><a href="#">Illustrations</a></span>
					</div>
				</div>
			</article>

			<article class="portfolio-item col-12 col-sm-6 col-md-4 col-lg-1-5 pf-graphics pf-uielements">
				<div class="grid-inner">
					<div class="portfolio-image">
						<a href="#">
							<img src="~/images/portfolio/4/3.jpg" alt="Mac Sunglasses">
						</a>
						<div class="bg-overlay">
							<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
								<a href="https://vimeo.com/89396394" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="iframe"><i class="uil uil-play"></i></a>
								<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="uil uil-ellipsis-h"></i></a>
							</div>
							<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
						<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
					</div>
				</div>
			</article>

			<article class="portfolio-item col-12 col-sm-6 col-md-4 col-lg-1-5 pf-icons pf-illustrations">
				<div class="grid-inner">
					<div class="portfolio-image">
						<div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="~/images/portfolio/4/4.jpg" alt="Morning Dew"></a></div>
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="~/images/portfolio/4/4-1.jpg" alt="Morning Dew"></a></div>
								</div>
							</div>
						</div>
						<div class="bg-overlay" data-lightbox="gallery">
							<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
								<a href="~/images/portfolio/full/4.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item"><i class="uil uil-images"></i></a>
								<a href="~/images/portfolio/full/4-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
								<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="uil uil-ellipsis-h"></i></a>
							</div>
							<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
						<span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
					</div>
				</div>
			</article>

			<article class="portfolio-item col-12 col-sm-6 col-md-4 col-lg-1-5 pf-uielements pf-media">
				<div class="grid-inner">
					<div class="portfolio-image">
						<a href="portfolio-single.html">
							<img src="~/images/portfolio/4/5.jpg" alt="Console Activity">
						</a>
						<div class="bg-overlay">
							<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
								<a href="~/images/portfolio/full/5.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="image" title="Image"><i class="uil uil-plus"></i></a>
								<a href="portfolio-single.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="uil uil-ellipsis-h"></i></a>
							</div>
							<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="portfolio-single.html">Console Activity</a></h3>
						<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
					</div>
				</div>
			</article>

			<article class="portfolio-item col-12 col-sm-6 col-md-4 col-lg-1-5 pf-graphics pf-illustrations">
				<div class="grid-inner">
					<div class="portfolio-image">
						<div class="fslider" data-arrows="false">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="~/images/portfolio/4/6.jpg" alt="Shake It"></a></div>
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="~/images/portfolio/4/6-1.jpg" alt="Shake It"></a></div>
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="~/images/portfolio/4/6-2.jpg" alt="Shake It"></a></div>
									<div class="slide"><a href="portfolio-single-gallery.html"><img src="~/images/portfolio/4/6-3.jpg" alt="Shake It"></a></div>
								</div>
							</div>
						</div>
						<div class="bg-overlay" data-lightbox="gallery">
							<div class="bg-overlay-content dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item">
								<a href="~/images/portfolio/full/6.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item" data-lightbox="gallery-item"><i class="uil uil-images"></i></a>
								<a href="~/images/portfolio/full/6-1.jpg" class="d-none" data-lightbox="gallery-item"></a>
								<a href="~/images/portfolio/full/6-2.jpg" class="d-none" data-lightbox="gallery-item"></a>
								<a href="~/images/portfolio/full/6-3.jpg" class="d-none" data-lightbox="gallery-item"></a>
								<a href="portfolio-single-gallery.html" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-hover-parent=".portfolio-item"><i class="uil uil-ellipsis-h"></i></a>
							</div>
							<div class="bg-overlay-bg dark" data-hover-animate="fadeIn" data-hover-parent=".portfolio-item"></div>
						</div>
					</div>
					<div class="portfolio-desc">
						<h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
						<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
					</div>
				</div>
			</article>

		</div><!-- #portfolio end -->

	</div>
</section><!-- #content end -->
